// Define variables
$myColor: #FF1b68;
$space: 10px;

/**
mmm note - variables are reusable css values that can be applied to properties in classes
*/

.wrap p {
	padding: $space;
	margin: $space * 2;
}

.p-border {
	border: dotted 3px $myColor;
}

.p-background {
	background: rgba($myColor, 0.3);
}

.p-color {
	color: $myColor;
}